@font-face {
    font-family: "franklin";
    src: url('franklin.ttf');
}


#all {
    position: absolute;
    right: 18%;
    bottom: 55%;
}

body{
    overflow:hidden;
}

.t-frame {
    position: absolute;
    width: 300px;
    min-height: 150px; 
    height: auto; 
    background: #1c1d1dd3;
    z-index: -2;
}

.t-frame-grey {
    position: absolute;
    width:280px;
    border-radius: 20px;
    height:195px;
    z-index: -1;
}

.vehicle {
    position: absolute;
    padding-top: 150px;
    padding-left: 54px;
    opacity: 1;
    height: auto;
    width: 190px;
}


.right {
    font-family: franklin;
    font-size: 14px;
    position: absolute;
    padding-top: 126px;
    padding-left: 241px;
    height: 30px;
    width: auto;
}

.right-border {
    position: absolute;
    margin-top: 132px;
    width: 40px;
    border-radius: 4px;
    margin-left: 237px;
    height: 20px;
    background: #141414;
    z-index: -2;
}

.right.anim {
    animation: color_anim 1s forwards 
}

.left {
    font-family: franklin;
    font-size: 14px;
    position: absolute;
    padding-top: 126px;
    padding-left: 28px;
    height: 30px;
    width: auto;
}
.left.anim {
    animation: color_anim 1s forwards 
}

.left-border {
    position: absolute;
    margin-top: 132px;
    width: 40px;
    border-radius: 4px;
    margin-left: 20px;
    height: 20px;
    background: #141414;
    z-index: -2;
}

.avpag {
    font-family: franklin;
    font-size: 14px;
    position: absolute;
    padding-top: 128px;
    padding-left: 130px;
    height: 28px;
    width: auto;
}

.avpag-border {
    position: absolute;
    margin-top: 132px;
    width: 45px;
    border-radius: 4px;
    margin-left: 128px;
    height: 20px;
    background: #141414;
    z-index: -2;
}

.avpag.space {
    margin-top: 145px;
}

.avpag-border.space {
    margin-top: 272px;
}

.left.space {
    margin-top: 145px;
}

.left-border.space {
    margin-top: 272px;
}

.right.space {
    margin-top: 145px;
}

.right-border.space {
    margin-top: 272px;
}

.avpag.anim {
    animation: color_anim 1s forwards 
}

.t-frame-grey-title {
    font-family: franklin;
    position: absolute;
    font-size: 18px;
    width: 200px;
    color: rgb(241, 243, 245);
    padding-top: 18px;
    padding-left: 75px;
}

.t-frame-sup-border {
    position: absolute;
    width: 300px; 
    height: 25px;
    background: #313030;
    z-index: -2;
}

.t-frame-sup-border.alert {
    animation: color_change 2s forwards;
}


.t-frame-inf-border {
    position: absolute;
    margin-top: 130px;
    width: 300px; 
    height: 25px;
    background: #313030;
    z-index: -2;
}

.infsvg {
    position: absolute;
    padding-top: 4px;
    padding-left: 2px;
    opacity: 0.8;
    height: auto;
    width: 20px;
    
}

.infsvg.alert-contrast {
    animation: filter 2s forwards;
}

.t-frame-grey-content {
    font-family: franklin;
    position: absolute;
    font-size: 12px;
    width: 270px;
    color: rgb(241, 243, 245);
    padding-top: 48px;
    padding-left: 15px;
    text-overflow: ellipsis;
    text-align: justify;
}

.callnum {
    font-family: franklin;
    position: absolute;
    font-size: 12px;
    width: 290px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    padding-top: 3px;
    padding-left: 28px;  
}

.callnum.alert-contrast {
    animation: contrast 2s forwards;
    opacity: 0.8;
}

.num.space {
    padding-left: 50px;  
}

.num {
    font-family: franklin;
    position: absolute;
    font-size: 12px;
    width: 290px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    padding-top: 3px;
    padding-left: 44px;   
}

.num.alert-contrast {
    animation: contrast 2s forwards;
    opacity: 0.8;
}

.cust-text.space {
    padding-left: 148px;  
}

.cust-text {
    font-family: franklin;
    position: absolute;
    font-size: 9px;
    width: 290px;
    color: rgb(255, 255, 255);
    opacity: 0.8;
    padding-top: 6px;
    padding-left: 110px; 
    z-index: 1;
}

.cust-text.alert-contrast {
    animation: contrast 2s forwards;
    opacity: 0.8;
}

.t-frame-sup-border.InConfig {
    background: linear-gradient(270deg, #121414, #4a4e4e);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.t-frame-inf-border.InConfig {
    background: linear-gradient(270deg, #121414, #4a4e4e);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

.t-frame.space {
    height: 300px;
}

.t-frame-inf-border.space {
    margin-top: 275px;
}

@-webkit-keyframes configAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes configAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes configAnim {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@keyframes color_anim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes color_change {
    0% {
        background-color: #313030;
    }
    50% {
        background-color: rgba(26, 11, 228, 0.651);
    }
    100% {
        background-color: #313030;
    }
}


@keyframes contrast {
    0% {
        color: #ffffff;
        opacity: 0.8;
    }
    50% {
        color: rgb(255, 255, 255);
        opacity: 1;
    }
    100% {
        color: #ffffff;
        opacity: 0.8;
    }
}

@keyframes filter {
    0% {

    }
    50% {
        filter: sepia(100%) hue-rotate(190deg) saturate(500%);
        opacity: 1;
    }
    100% {
        filter: sepia(0%) hue-rotate(0deg) saturate(0%);
        opacity: 0.2;
    }
    
}